$ctaButtonColor: #00c14e;


.submit-wrapper {
  margin: 15px 0;
}

button {
  margin: 0 auto;
  outline: none;
  border: none;
  color: #000;
  background-color: $ctaButtonColor;
  &.submit-button{
    display: block;
    width: 80%;
    height: 30px;
  }

  &:hover {
    cursor: pointer;
    background-color: darken($ctaButtonColor,10%);
    transition:  0.5s all;
  }

  &:active {
    background-color: red;
  }
}
